/* price */
.price {
    background-size: cover;
    background-position: center;
    background-image: url(../img/bg1.png);
}

.price__container {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.price__content {
    width: 460px;
    text-align: left;
}

.price__title--small {
    color: var(--second-text-color);
    margin-bottom: 12px;
}

.title-second--left {
    text-align: left;
    margin-bottom: 42px;
}

.price__text {
    margin-bottom: 26px;
}

.price__text:last-child {
    margin-bottom: 60px;
}

.price__btn {
    margin-left: 0;
}