/* team */

.titlem__sub-text::before {
    content: '';
    display: block;
    width: 141px;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FF1F33;

    margin-bottom: 12px;
}

.titlem__sub-text {
    max-width: 610px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: var(--second-text-color);
    margin-bottom: 60px;
}

.team__list {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.team__content {
    padding: 20px 20px;
    background: url(../img/bg-footer.png) var(--background-dark)
}

.team__name {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--whity-color);
    margin-bottom: 8px;
}

.team__position {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;

    color: var(--whity-color);
    margin-bottom: 16px;
}

.social__list--center {
    justify-content: center;

}